.quizcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* bg-gray-100 */
    padding: 1rem;
  }
  .quizcard {
    background-color: #ffffff; /* bg-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1.5rem; /* p-6 */
    width: 100%;
    max-width: 32rem; /* max-w-lg */
    position: absolute;
    top: 25%;
  }
  .quizscore {
    text-align: center;
  }
  .quiztitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .quizresult {
    font-size: 1.125rem;
  }
  .quizquestionsection {
    display: flex;
    flex-direction: column;
  }
  .quizprogress {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .quizquestion {
    margin-bottom: 1.5rem;
  }
  .quizoptions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .quizoptionbutton {
    background-color: #08d5fe; /* bg-blue-500 */
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; /* rounded */
    cursor: pointer;
    transition: background-color 0.2s;
  }
  .quizoptionbutton:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
  }