.Header{
    display: flex;
    padding: 0.5rem 2rem;
    width: 100%;
    background-color: rgb(22, 22, 22);
    justify-content: space-between;
    flex-wrap: wrap;
}

.NavMenu .ul{
    display: flex ;
    gap: 4rem;
    padding: 1rem;
    gap: 2.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.NavMenu{
    display: flex;
    justify-content: center;
    align-items: center;

}



.NavMenu .ul .li{
    list-style-type: none;
    font-size: 1.05rem;
    color: white;
    padding: 0.305rem;
    border-radius: 0.1rem;
    background-color: rgb(0, 0, 0);


}

.NavMenu .ul .li:hover{
    background-color: rgba(138, 134, 134, 0.384);



}

.UlSubum, .UlSubdois, .UlSubtres, .UlSubquatro, .UlSubcinco{
    position: absolute;;
    background-color: rgb(65, 64, 64);
    top: 3.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    display: none;

}

.UlSubum{
    margin-right: 5rem;
}

.UlSub li, .UlSubdois li, .UlSubtres li, .UlSubquatro li, .UlSubcinco li{
    margin: 0;
    padding: 0.5rem;
    background-color: rgba(2, 2, 2, 0.274);
    list-style-type: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(146, 144, 144);

}

.UlSub li:hover, .UlSubdois li:hover, .UlSubtres li:hover, .UlSubquatro li:hover, .UlSubcinco li:hover{
    background-color: rgba(138, 134, 134, 0.384);


}

.NavMenu .ul .li:hover .UlSubum,
.NavMenu .ul .li:hover .UlSubdois,
.NavMenu .ul .li:hover .UlSubtres,
.NavMenu .ul .li:hover .UlSubquatro,
.NavMenu .ul .li:hover .UlSubcinco {
    display: block;
}



